.btn-container-desafio {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 0px 0px 0px;
  border-radius: 10px;
  background: rgba(237, 237, 237, 1);
  border: 2px solid rgb(0, 26, 255);
}

.btn-icon-desafio {
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  align-items: center;
  height: 40px;
  background: #00285f;
}

.btn h6 {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
}

.btn-description-text {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ededed;
}

.btn-description-text p {
  padding: 10px 15px;
  width: 200px;
  height: 21px;
  color: #585858;
  font-size: 1em;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .btn-container-desafio {
    justify-content: left;
  }
}